language: php

php:
  - 5.3
  - 5.4
  - 5.5

before_script:
  - composer install

script:
  - ./vendor/bin/phpunit -c phpunit.xml.dist

after_script:
  - mkdir -p src/FluidTYPO3/Builder
  - ln -s Classes src/FluidTYPO3/Builder
  - vendor/bin/coveralls
