{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}

<f:layout name="FluxAdministration" />

<f:section name="ButtonsLeft">

</f:section>

<f:section name="FunctionsLeft">
	{csh -> f:format.raw()}
</f:section>

<f:section name="Content">
	<link rel="stylesheet" href="../../{f:uri.resource(path: 'Stylesheet/font-awesome/css/font-awesome.css')}" />
	<link rel="stylesheet" href="../../{f:uri.resource(path: 'Stylesheet/FluxTemplateForm.css')}" />

	<f:form class="form form-horizontal" name="form" id="formform" action="update">
		<f:render partial="FormForm" arguments="{_all}" />
		<div class="form-group">
			<div class="col-xs-12">
				<button type="submit" class="btn btn-primary">Save template</button>
			</div>
		</div>
	</f:form>

	<script src="../../{f:uri.resource(path: 'Javascript/Main.compiled.js')}"></script>
</f:section>
