<f:layout name="FluxAdministration" />

<f:section name="ButtonsLeft">

</f:section>

<f:section name="FunctionsLeft">
	{csh -> f:format.raw()}
</f:section>

<f:section name="Content">
	<link rel="stylesheet" href="../../{f:uri.resource(path: 'Stylesheet/font-awesome/css/font-awesome.css')}" />

	<div id="kickstarter">
		<h1>New template</h1>

		<f:form class="form" name="form" id="formform" action="new">
			<f:form.hidden name="action" value="new" id="formaction" />
			<f:render partial="FormForm" arguments="{_all}" />

			<div class="form-group">
				<button type="submit" class="btn btn-secondary">Preview</button>
				<button type="button" class="btn btn-primary" onclick="javascript:document.getElementById('formaction').value = 'create'; document.getElementById('formform').submit();">Save as template</button>
			</div>
		</f:form>

		<kickstarter-form json="{structure}"/>
	</div>

	<script src="../../{f:uri.resource(path: 'Javascript/Main.compiled.js')}"></script>
</f:section>
