<f:layout name="FluxAdministration" />

<f:section name="ButtonsLeft">

</f:section>

<f:section name="FunctionsLeft">
	{csh -> f:format.raw()}
</f:section>

<f:section name="Content">
	<link rel="stylesheet" href="../../{f:uri.resource(path: 'Stylesheet/font-awesome/css/font-awesome.css')}" />

	<div id="kickstarter">
		<h1>New template</h1>

		<f:form class="form" name="form" id="formform" action="new">
			<f:render partial="FormForm" arguments="{_all}" />
		</f:form>

		<kickstarter-form json="{structure}"/>
	</div>

	<script src="../../{f:uri.resource(path: 'Javascript/Main.compiled.js')}"></script>
</f:section>
