{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:form.hidden name="form" value='{structure.form -> v:format.json.encode()}' />
<f:form.hidden name="grid" value='{structure.grid -> v:format.json.encode()}' />
<f:form.hidden name="layoutName" value="{layoutName}" />
<f:form.hidden name="extensionName" value="{extensionName}" />
<f:form.hidden name="templatePathAndFilename" value="{templatePath}{templateFile}" />
<f:form.hidden name="templatePath" value="{templatePath}" />
<f:form.hidden name="templateName" value="{templateName}" />

<div class="form-group">
    <label class="form-label" for="layoutName">Layout name</label>
    <f:form.select class="form-control" name="layoutName" options="{layoutNames}" value="{layoutName}" />
</div>

<div class="form-group">
    <label class="form-label" for="mainContent">Main section Fluid code</label>
    <f:form.textarea class="form-control" rows="12" name="mainContent" value="{mainContent}" />
</div>

