{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:form.hidden name="layoutName" value="{layoutName}" />
<f:form.hidden name="extensionName" value="{extensionName}" />
<f:form.hidden name="templatePathAndFilename" value="{templatePathAndFilename}" />

<fieldset class="alert">
    <div class="form-group">
        <div class="col-xs-2">
            <div class="control-label">
                <label>Template</label>
            </div>
        </div>
        <div class="col-xs-10">
            <input type="text" class="form-control" disabled="disabled" value="{relativeTemplateFile}" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2">
            <div class="control-label">
                <label for="layoutName">Layout name</label>
            </div>
        </div>
        <div class="col-xs-10">
            <f:form.select class="form-control" name="layoutName" id="layoutName" options="{layoutNames}" value="{layoutName}" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2">
            <div class="control-label">
                <label>
                    Native CType
                </label>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="checkbox">
                <label>
                    <f:form.checkbox name="register" value="1" checked="{register}" />
                    Register as native CType
                </label>
            </div>
        </div>
    </div>
</fieldset>

<script>
    var fieldTypes = {fieldTypes -> v:format.json.encode() -> f:format.raw()};
</script>

<div class="flux-template-form">
<flux-template-form id="kickstarter"
    json='{structure -> v:format.json.encode() -> f:format.raw()}'
    form-field-name="{v:form.fieldName(name: 'form')}"
    grid-field-name="{v:form.fieldName(name: 'grids')}">
</flux-template-form>
</div>

<div class="form-group">
    <label class="form-label" for="mainContent">Main section Fluid code</label>
    <f:form.textarea class="form-control" rows="12" name="mainContent" value="{mainContent}" />
</div>

<f:render partial="Snippets" arguments="{snippets: snippets}" />
