<f:be.container>
	<div style="padding: 24px;">
		<div class="btn-group">
			<f:link.action action="index" class="btn btn-{f:if(condition: '{view} == \'Index\'', then: 'primary', else: 'default')}">Syntax Check</f:link.action>
			<f:link.action action="buildForm" class="btn btn-{f:if(condition: '{view} == \'BuildForm\'', then: 'primary', else: 'default')}">Generate Provider Extension</f:link.action>
		</div>
		<p>&nbsp;</p>
		<f:flashMessages />
		<f:render section="Content" />
	</div>
</f:be.container>
