{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:be.container>
    <div class="typo3-fullDoc module">
        <div id="typo3-docheader">
            <div class="typo3-docheader-functions module-docheader t3js-module-docheader">
                <div class="left module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation">
                    <f:render section="FunctionsLeft" />
                </div>
                <div class="right"></div>
            </div>
            <div class="typo3-docheader-buttons">
                <div class="left"><f:render section="ButtonsLeft" /></div>
                <div class="right">
                    <div class="buttongroup">
                        <f:link.page><span class="t3-icon fa fa-refresh"> </span></f:link.page>
                        <f:be.buttons.shortcut />
                    </div>
                </div>
            </div>
        </div>

        <div id="typo3-docbody">
            <div id="typo3-inner-docbody">
                <f:flashMessages />
                <f:render section="Content" />
            </div>
        </div>
    </div>
</f:be.container>
