<f:layout name="Backend" />

<f:section name="ButtonsLeft">

</f:section>

<f:section name="FunctionsLeft">
	{csh -> f:format.raw()}
</f:section>

<f:section name="Content">
	<div id="kickstarter">
		<h1>Edit form in {templateFile}</h1>

		<f:if condition="{backups}">
			<h2>Backups</h2>
			<ul>
				<f:for each="{backups}" as="backup">
					<li>
						<f:link.action action="kickstarterBackupRestore" arguments="{templatePathAndFilename: templateFile, backupTimestamp: backup.timestamp}">
							Restore from {backup.date}
						</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:if>

		<f:form action="kickstarterUpdate" object="{data.form}" name="form">
			<f:form.hidden name="templatePathAndFilename" value="{templateFile}" />
			<f:form.textfield property="id" />
			<f:form.textfield name="layoutName" value="Default" />
			<f:form.textarea name="mainContent" value="{mainContent}" />
			<f:form.submit value="Update template" />
		</f:form>

		<f:debug inline="1">{structure}</f:debug>
	</div>

</f:section>
