{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Backend" />

<f:section name="ButtonsLeft">

</f:section>

<f:section name="FunctionsLeft">
	{csh -> f:format.raw()}
</f:section>

<f:section name="Content">
	<link rel="stylesheet" href="../../{f:uri.resource(path: 'Stylesheet/jqplot.min.css')}" />
	<link rel="stylesheet" href="../../{f:uri.resource(path: 'Stylesheet/plotter.css')}" />
	<h1>{f:translate(key: 'header.syntax')}</h1>
	<h2>{f:translate(key: 'header.reports')}</h2>
	<f:form action="syntax" class="re-run">
		<f:for each="{syntax}" as="syntaxName">
			<f:form.hidden name="syntax[]" value="{syntaxName}" />
		</f:for>
		<f:for each="{formats}" as="formatName">
			<f:form.hidden name="formats[]" value="{formatName}" />
		</f:for>
		<f:for each="{extensions}" as="extensionName">
			<f:form.hidden name="extensions[]" value="{extensionName}" />
		</f:for>
		<v:form.select name="filteredFiles" size="{files -> f:count()}" multiple="multiple">
			<f:for each="{files}" as="filterFile">
				<v:form.select.option value="{filterFile}" selected="{v:condition.iterator.contains(needle: filterFile, haystack: filteredFiles, then: 'selected')}" class="form-control">
					{filterFile -> v:format.substring(start: basePathLength)}
				</v:form.select.option>
			</f:for>
		</v:form.select><br />
		<button name="go" class="btn btn-primary">
			<span class="t3-icon fa fa-refresh"> </span>
			{f:translate(key: 'rerun')}
		</button>
	</f:form>
	<f:for each="{reports}" as="extensionReports" key="extensionKey">
		<h2>{extensionKey}</h2>
		<f:if condition="{extensionReports}">
			<f:else>
				<f:translate key="noreports" />
			</f:else>
			<f:then>
				<f:for each="{extensionReports}" as="formatReports" key="format">
					<h3>{format -> v:format.case(case: 'ucfirst')}</h3>
					<f:if condition="{formatReports.json}">
						<div class="storage storage-{format}">
							{formatReports.json -> f:format.raw()}
						</div>
						<div class="graph"></div>
					</f:if>
					<f:for each="{formatReports.reports}" as="result" key="filePathAndFilename">
						<f:render section="Payload{result.payloadType}" arguments="{_all}" />
					</f:for>
				</f:for>
			</f:then>
		</f:if>
	</f:for>
</f:section>

<f:section name="PayloadMetrics">
	<v:variable.set name="map" value="{0: 'success', 1: 'danger', -2: 'warning'}" />
	<h3>{filePathAndFilename}</h3>
	<f:for each="{result.payload}" as="metric" key="metricName">
		<f:for each="{metric.messages}" as="message">
			{metricName -> v:variable.set(name: 'title')}
			{v:variable.get(name: 'map.{message.severity}') -> v:variable.set(name: 'class')}
			{message.payload -> v:variable.convert(type: 'array') -> v:variable.set(name: 'payload')}
			{message.message -> f:format.printf(arguments: payload) -> v:variable.set(name: 'body')}
			<f:render section="FlashMessage" arguments="{_all}" />
		</f:for>
	</f:for>
</f:section>

<f:section name="PayloadFlashMessage">
	{f:if(condition: result.valid, then: 'success', else: 'danger') -> v:variable.set(name: 'class')}
	{f:if(condition: result.valid, then: 'All is well', else: result.error) -> v:variable.set(name: 'body')}
	<f:render section="FlashMessage" arguments="{class: class, body: body, title: filePathAndFilename}" />
</f:section>

<f:section name="FlashMessage">
	<div class="alert alert-{class}">
		<h4>{title}</h4>
		<div class="message-body">
			{body}
		</div>
	</div>
</f:section>
