{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<v:asset.script path="{f:uri.resource(path: 'Javascript/doodle.js')}" />
<style type="text/css">
	#variables, #fluid {
		width: 99.5%;
		max-width: 99.5%;
		font-family: monospace;
	}
	#fluid {
		min-height: 200px;
	}
	pre#source {
		border: none !important;
		margin-bottom: 0 !important;
		border-radius: 0 !important;
	}
	.form-control.error {
		border-color: red;
	}
	#message {
		display: none;
	}
	#output.panel-danger #message {
		display: block;
	}
</style>
<f:form class="doodle" action="renderFluid" id="renderer" pluginName="Doodle" />
	<!--
	<v:form.fieldName name="fluid" />
	<v:form.fieldName name="variables" />
	-->
	<div class="row">
		<div class="col-lg-6 col-sm-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Input</h3>
				</div>
				<div id="message" class="panel-body"></div>
				<div class="panel-body">
					<h4>Variables, JSON-format</h4>
					<textarea id="variables" class="form-control"><![CDATA[{"world": "world"}]]></textarea>
					<h4>Fluid template code</h4>
					<textarea id="fluid" class="form-control"><![CDATA[Hello {world}!]]></textarea>
				</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<button id="render" class="btn btn-primary">Render</button> &nbsp;
							<label class="label-checkbox"><input type="checkbox" id="automatic" checked="checked" /> Auto</label>
						</div>
						<div class="col-xs-8 col-sm-6">
							{f:render(section: 'Presets') -> f:if(condition: settings.doodle.presets)}
						</div>
						<div class="col-xs-4 col-sm-2 text-right">
							<button id="clear" class="btn btn-danger">Clear</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12">
			<div class="panel panel-default" id="output">
				<div class="panel-heading">
					<h3 class="panel-title">Output</h3>
				</div>
				<div class="panel-body" id="preview"></div>
				<div class="panel-heading">
					<h3 class="panel-title">Source</h3>
				</div>
				<pre class="panel-body prettyprint lang-html linenums" id="source"></pre>
				<div class="panel-heading">
					<h3 class="panel-title">ViewHelper Usage</h3>
				</div>
				<div class="panel-body">
					<div id="viewhelpers"></div>
				</div>
				<div class="panel-heading">
					<h3 class="panel-title">Metrics</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6 col-sm-6" id="summary">

						</div>
						<div class="col-lg-6 col-sm-6" id="timing">

						</div>
					</div>
					<p class="text-muted">
						Hint: lower is better. Measurements of time and memory are of course relative, depending on system and
						system load, and include baseline initialization costs.
					</p>
				</div>
			</div>
		</div>
	</div>
</form>

<f:section name="Presets">
	<textarea style="display: none" id="preset-list">{settings.doodle.presets -> v:format.json.encode()}</textarea>
	<select class="form-control" id="presets">
		<f:groupedFor each="{settings.doodle.presets}" groupBy="category" groupKey="category" as="presets">
			<optgroup label="{category}">
				<f:for each="{presets}" as="preset">
					<option value="{preset.id}">{preset.label}</option>
				</f:for>
			</optgroup>
		</f:groupedFor>
	</select>
</f:section>
